h2, h3 {
  font-weight: bold;
}

h5 {
  color: #111111;
  font-size: 13px;
  padding-bottom: 1px;
}

ion-content {
  --ion-background-color: #DAE0E9;
}

ion-card {
  margin: 15px;
  padding-bottom: 10px;
  border-radius: 15px;
  overflow: hidden;
  --ion-background-color: white;
}

ion-list {
  padding: 10px;
}

ion-list-header {
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

ion-label {
  margin: 0;
  padding: 0;
}

ion-chip {
  height: 25px;
}

// button 여백
// 오른쪽에 붙이기
ion-button {
  margin: 0;
  padding: 0;
}

ion-icon {
  color: #002f67;
  font-size: 25px !important;
}

#card1 {
  height: 720px;
}

#card1 ion-item {
  margin: 10px;
}

#card1 #menu {
  font-size: 14px;
  align-items: normal;
}

#card2 {
  height: 60px;
  padding-left: 15px;
}

#card2 ion-item {
  width: 310px;
  float: left;
}

#card2 ion-button {
  margin-top: 15px;
}

#state1 {
  width: 50px;
}

#state2 {
  width: 75px;
}
