<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title>See energy, Be synergy.</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3.8">
        <img src="./assets/icon/logo_dark.png" alt="logo">
      </ion-col>
      <ion-col>
        <h1>SNGY 밥밥밥</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <h2>환영합니다!</h2>
    </ion-card-header>

    <section>
      <p><span>시너지 밥밥밥</span>은 여러분의 편리함을 추구합니다.</p>
      <p>이름만을 입력하여 간편하게 입장하세요!</p>
      <p>이름을 다시 입력하지 않으려면 체크박스를 선택해주세요.</p>
    </section>

    <section id="inputBox">
      <ion-icon name="person-circle"></ion-icon>
      <ion-input clearInput placeholder="이름을 입력해주세요."></ion-input>
    </section>

    <section id="checkBox">
      <ion-label>다음부터 묻지 않기</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </section>

    <section>
      <ion-button expand="block" (click)="goBack()">입장하기</ion-button>
    </section>

  </ion-card>

</ion-content>
